body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
    direction: rtl;
	margin: 0px;
}

.site-header {
    position: sticky; /* Makes the header stick to the top */
    top: 0; /* Position at the top of the viewport */
    width: 100%; /* Full width */
    text-align: center; /* Center-align the content */
    background-color: #ffffff; /* Green background */
    padding: 10px 0; /* Vertical padding for subtle height */
    z-index: 1000; /* Ensure the header stays above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

.header-title {
    color: #2F872A; /* White text */
    text-decoration: none; /* Remove underline from link */
    font-size: 1.2em; /* Adjust font size as needed */
    font-family: 'Rubik', sans-serif; /* Consistent font with the rest of the site */
}

.header-title:hover {
    color: #f0f0f0; /* Slightly lighter color on hover */
}


.container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px; /* To prevent overlap with footer */
}

h1, h3 {
    text-align: center; /* Center the titles only */
}

h1 {
    font-size: 1.6em;
    color: #2F872A;
    margin-top: 20px;
	margin-bottom:10px;
}

h3 {
    font-size: 1.2em;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Options */
.option-button {
	display: block;
	width: 80%;
	padding: 15px;
	margin: 15px 0; /* This line currently sets vertical margin */
	border: 3px solid #f4f4f4;
	color: black;
	font-size: 1.1em;
	text-decoration: none;
	border-radius: 10px;
	text-align: right;
	margin-right: 5%; /* Add this line to create a right margin */
}

.option-button:hover {
    border-color: #4CAF50;
	background-color: #2F872A;
	color: white;
}

.option-button .option-title {
    font-size: 20px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
}

.option-button .option-subtitle {
    font-size: 14px; /* Smaller font size */
    font-weight: normal; /* Normal font weight */
    margin-top: 5px;
}

.price-breakdown {
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
}

.price-breakdown h3 {
    margin: 5px 0;
    color: #555;
    font-weight: normal;
}

.price-breakdown h3 .agorot {
    font-size: 0.8em;
    vertical-align: super;
}


/* Footer adjustments */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: gray;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

/* Meal Title or Product Title */
#product-title {
    font-size: 1.6em;
    font-weight: bold;
    color: #2F872A;
    margin: 10px 0 5px 0;
}

/* Product Subtitle */
#product-subtitle {
    font-size: 1.2em;
    font-weight: normal;
    color: #333;
    margin: 0 0 15px 0;
}

/* Product Image */
.product-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    cursor: pointer; /* Indicate that the image is clickable */
    touch-action: pan-y;
	display: block;
	margin: 0 auto;
	transition: transform 0.3s ease;
}

hr {
	margin: 30px 0;
	width: 100%;
}

/* Slider Container */
.slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0; /* Added top and bottom padding */
}

#price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

#price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #2F872A;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#price-slider::-webkit-slider-thumb:active {
    transform: scale(1.1);
}

#price-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2F872A;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#price-slider::-moz-range-thumb:active {
    transform: scale(1.1);
}

#price-slider:hover::-webkit-slider-thumb {
    background: darkgreen;
}

#price-slider:hover::-moz-range-thumb {
    background: darkgreen;
}

/* Confirm Button */
#confirm-button {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: #2F872A;
    color: white;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

#confirm-button .agorot {
    font-size: 50%; /* Smaller font size for agorot */
    vertical-align: top;
    margin-top: -0.6em; /* Adjust as needed for alignment */
    margin-left: 2px;
}

#confirm-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/* Footer */
footer {
    font-size: 1em;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.agorot {
    font-size: 0.6em;
    vertical-align: super;
}

.correct {
    color: #2F872A; /* Indicates a correct guess */
}

.error-message {
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
}

.no-yesterday-game {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: gray;
}

/* Slide-in and slide-out animations using transforms */
.slide-in-left {
    animation: slideInLeft 0.3s forwards;
}

.slide-in-right {
    animation: slideInRight 0.3s forwards;
}

.slide-out-left {
    animation: slideOutLeft 0.3s forwards;
}

.slide-out-right {
    animation: slideOutRight 0.3s forwards;
}

@keyframes slideInLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideInRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideOutLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes slideOutRight {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}

/* Dot styles */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #717171;
}